html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    margin: 0;
}

#desktop-nav ul {
    list-style: none;
    margin: 0;
    padding: 0px 8%;
    display: flex;
}

#desktop-nav ul li {
    text-align: center;
    justify-content: space-around;
    flex: 1 1 100px;
}

#desktop-nav ul li a {
    color: #0074CE;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 0px;
    display: inline-block;
    font-weight: 700;
}

#desktop-nav ul li a:hover {
    color: red;
}

#desktop-nav ul li.active {
    border-bottom: 3px solid #0074CE;
}

#home {
    width: 100%;
    height: 100vh;
    background-color: yellow;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #0074CE;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    height: 50px;
    width: 50px;
    border-radius: 10px;
    /* Rounded corners */
    font-size: 25px;
    border: 2px solid #fff;
    border-radius: 50%;

}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}



.about-image img{
width: 100%;
height: 415px !important;

}

.what-you-content {
    padding: 30px 20px;
    padding-top: 150px;
}
.what-you-content h1{
   line-height: 1;
   font-family: sans-serif;
  
}
.what-you-content h1:first-child{
    color:#0074CE;
}
.what-you-content p{
   text-align: justify;
   line-height: 2;
}
.what-you-content  button{
   padding: 10px 20px;
   font-family: sans-serif;
   color: #fff;
   background-color: #000;
   position: relative;
    right: 0;
    transition: all 1s ease;

}
.what-you-content  button:hover{

 opacity: 0.7;

}
 .what-you-content  button::after{
content: "\2192";
font-size: 20px;
margin-left: 5px;

} 


.left-img{
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.35);
    margin: -25px 0 0 0;
 
}

.left-img img{
   
    width: 100%;
    height: 534px;;
 
}


.about-section{
    margin-bottom: 60px;
}
.right-cont{
    padding: 25px 20px;
}
.right-cont h1{
color: #0074ce;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: unset;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
 
}
  .right-cont p{
    text-align: unset;
    color: #404040;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-align: justify;
  }




#our-benefits-section{
    background-color: #0074ce;
}

.awesome-icon a{
    margin-top: -45px;  
}
.content-area h1{
    color: #fff;
    }
.image{
    width: 90px;
    height: 90px;
    box-shadow: 0 0 0 2px rgba(255,255,255,.3) inset;
    border-radius: 50%;
    outline: none;
    display: inline-flex;
    margin-top: -55px;
    background-color: #045390;
    z-index: 999;
    padding: 20px;

}
.image img{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.awesome-icon{
    margin-top: 45px;
    border: 1px solid ;
    padding: 15px ;
    box-sizing: border-box;
    text-align: center;
    width: 300px;
    min-height: 400px;
    
}
.inner-area{
    display: flex;
    margin-right: 5px;
    flex-wrap: wrap;

}
.content-area{
    text-align: center;
    margin-top: 20px;
    margin-top: 30px;

}

.content-area p{
    color: #fff;
    font-size: 20px;
    text-align: center;
    
    }

.awesome-icon h4{
    color: #fff;
    margin: 20px 0px;
   
}
.awesome-icon p{
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}


.artical-right{
    width: 62.70%;
    min-height: 586px;
    box-shadow: 0 0 0 10px #e0e0e0 inset;
    padding: 0px 40px 30px 15.8%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  

}

.button{
    display: flex;
    flex-wrap: wrap;
}

#sign-in{
    margin-top: 100px;
    padding: 0px 30px;
}
.article-image {
    width: 100%;
    height: 493px;
    box-shadow: 1.25rem 1.375rem 4.75rem 0 rgba(0,0,0,.22);
    z-index: 99999;
   padding: 0px;
   background-color: #E3E3E3;
}

.artical-right h1{
    font-size: 45px;
    font-weight: 500;
    line-height: 57.88px;
    margin-bottom: 30px;
    color: #0074ce;
}
.artical-right p{
    color: #404040;
    font-size: 21px;
    line-height: 36px;
}

.article-image img{
    margin-top: 50px;
    width: 600px;
    height: auto;
}


#sign-in2{
    margin-top: 60px;
    padding: 0px 25px;
}
.article-image2{
    width: 100%;
    height: 493px;
    box-shadow: -1.25rem 1.375rem 4.75rem 0 rgba(0,0,0,.22);
    margin: 0 0 0 -21.15%;
    position: relative;
    width: 58.3%;
    margin-top: 50px;
    padding: 0px;
}
@media screen and (max-width: 768px) {
    .article-image2{
        width: 100%;
        height: 493px;
        box-shadow: -1.25rem 1.375rem 4.75rem 0 rgba(0,0,0,.22);
        margin: 0 0 0 -21.15%;
        position: relative;
        width: 100%;
        margin-top: 10px;
        padding: 0px;
    }
    .article-image img{
        margin-top: 10px;
        width: 100%;
        height: auto;
    }
    .article-image2 img{
        margin-top: 10px;
        width: 100%;
        height: auto;
    }




    .article-image {
        width: 100%;
        height: auto;
       
    }
    
    .article-image2 {
        width: 100%;
        height: auto;
        padding-right: 0px;
        margin-right: 0px;
       
    }
    

    .artical-right {
        width: 100%;
        
    }

    .artical-right2 {
        width: 100% !important;
      
    }



    
  }









.artical-right2{
    width: 62.70%;
    min-height: 586px;
    box-shadow: 0 0 0 10px #e0e0e0 inset;
    padding: 30px 25.8% 30px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.get_app_content ul {
    list-style: none;
    margin-bottom: 40px;
    padding-left: 0px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: auto;
}

.get_app_content ul li {
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    position: relative;
    padding-left: 28px;
    width: calc(47% - 28px);
    width: -o-calc(47% - 28px);
    width: -ms-calc(47% - 28px);
    width: -moz-calc(47% - 28px);
    width: -webkit-calc(47% - 28px);
    margin-bottom: 17px;
    display: list-item;
    text-align: -webkit-match-parent;
}




#download{
    background-color: #0074CE;
    padding: 20px;
}
.get_app_content ul li{
    color: #fff;
}
.get_app_content ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(../images/correct.svg);
    background-repeat: no-repeat;
    background-position: center center;
  
}
#download h1{
    font-size: 45px;
    line-height: normal;
    color: #fff;
}
#download p{
    font-size: 18px;
    margin-bottom: 42px;
    line-height: 30px;
    font-weight: 400;
    padding-right: 10px;
    color: #fff;
}
   

.slider_btn {
    color: #fff;
}
 .slider_btn {
    font-size: 24px;
    border: 2px solid #fff;
    text-decoration: none;
    vertical-align: top;
    padding: 15px 20px;
}
.slider_btn:hover{
    text-decoration: none;
}

#safty-road h1{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
    color: #0074ce;
    padding: 30px 0px 5px 0px;
}
#safty-road p{
    font-size: 18px;
    margin-bottom: 20px;
font-family: serif;
    
}

#safty-road>div{
    padding: 20px;
}


#login h1::after{
content: "\2192";
font-size: 50px;
margin-left: 5px;
font-weight: bold;
}
#login{
    background-color: #E0E0E0;
}
#login h1{
    color: #0074ce;
    display: inline-flex;
    
    font-size: 45px;
    font-weight: 500;
    padding: 20px;
    margin-bottom: -5px;
    max-width: 565px;
    line-height: normal;
}

.footer-section{
    background-color: #00233D;
    color: #fff;
}

.footer-section a{
    color: #dadada;
    text-decoration: none;
}
.footer-section a:hover{
    color: #798B99;
    text-decoration: none;
}

.footer-section h4{
    margin-bottom: 20px;
}

.copy-right{
    border-top: 1px solid #fff;
    padding: 20px;
}

.copy-right ul {
    display: flex;
}
.copy-right ul li{
    list-style: none;
}

.social ul li a {
    font-size: 20px;
    color:#fff;
    padding: 5px 10px 5px 10px;
}